@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  :root {
    text-transform: capitalize;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  *{box-sizing:border-box;}
}

@layer base {
  /* input[type="text"], input[type="email"], input[type="password"] { */
  /*   @apply rounded-md bg-slate-200 */
  /* } */

  .center {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  .input-container {
    @apply flex flex-col normal-case
  }

  label {
    @apply text-xs
  }

  button {
    @apply text-base
  }
}


