@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  :root {
    line-height: 1.5;
    font-weight: 400;

    text-transform: capitalize;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
